div {
  text-align: center;
  color: #434C5E;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 30%;
}

table, th, td {
  border: 1px solid;
  height: 30%;
}

th, td {
  padding: 15px;
}

th {
  background-color: #F6F8FA;
}

html {
  background-color: #E5E9F0;
}

select {
  padding: 20px;
}